* {
    margin: 0;
    padding: 0;
}

:root {
    --main-purple: purple;
    --main-pink: #FCCAE2;
    --light-orange: rgb(242, 195, 168);
    --main-color: chocolate;
    --dark-orange: darkorange;
}

body {
    background-color: var(--main-pink);

}

a {
    color: var(--main-purple);
}

a.nav-link {
    color: var(--main-color);

}

a.nav-link:hover {
    box-shadow: 3px 3px 3px 3px var(--main-color);
    border-radius: 4%;
    color: var(--main-purple);

}

.img-fluid {
    box-shadow: 1px 1px 3px 3px lightpink;
    border-radius: 40%;
}

footer a:hover {
    box-shadow: 3px 3px 3px 3px var(--main-color);
    border-radius: 4%;

}

li {
    list-style-type: none;

}

.card {
    background-color: #FCD6ED;
    margin-bottom: 10px;
    filter: drop-shadow(1px 1px var(--dark-orange));
    border-color: var(--dark-orange);
}

.card-header {
    background-color: #FF949B;
    filter: drop-shadow(1px 3px var(--dark-orange));

}

.bg-body-tertiary {
    background-image: url(https://images.pling.com/img/00/00/59/57/30/1471961/ca433c51d5fab3fc30bef50c2d83e337cc737bd7e42462f1ed5094bf5f6ec27fd6a0.jpg);
}

h2 {
    box-shadow: 1px 1px 3px 3px pink;
    border-radius: 1%;
    color: #FF949B;
    filter: drop-shadow(1px 1px var(--dark-orange));
}

.btn-primary {
    text-decoration: none;
    color: var(--main-color);
    background-color: #FF949B;
}

.btn-primary.border:hover {
    background-color: var(--main-color);
}