* {
    margin: 0;
    padding: 0;
}
:root {
--main-purple: ;
--main-pink: ;
--light-orange: rgb(242, 195, 168);
--main-orange:
}
body {
    background-color:  #FCCAE2;

}

a {
    color: chocolate;
}

a:hover {
    box-shadow: 3px 3px 3px 3px #121212;
    border-radius: 4%;
    color: purple;
}
.img-fluid {
    max-width: 25%;
    box-shadow: 1px 1px 3px 3px lightpink;
    border-radius: 40%;
    align-content: center;
}

footer a:hover {
box-shadow: 3px 3px 3px 3px #121212;
border-radius: 4%;
}

li {
    list-style-type: none;

}

.card {
    background-color: #FCD6ED;
    margin-bottom: 10px;
    filter: drop-shadow( 1px 1px  darkorange);
    border-color: darkorange;
}

.card-header{
    background-color:  #FF949B;
    filter: drop-shadow( 1px 3px  darkorange);
   
}

.bg-body-tertiary {
    background-image: url(https://images.pling.com/img/00/00/59/57/30/1471961/ca433c51d5fab3fc30bef50c2d83e337cc737bd7e42462f1ed5094bf5f6ec27fd6a0.jpg);
}
h2 {
    box-shadow: 1px 1px 3px 3px pink;
    border-radius: 1%;
    color: #FF949B;
    filter: drop-shadow( 1px 1px  darkorange);
 
}

.btn-primary {
    text-decoration: none;
    color: rgb(14, 6, 3);
}


